{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <button type="button" class="btn btn-success">
        <a class="btn-success" href="/friends/add">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            添加好友</a>
    </button>
</div>
<br>

<div class="panel panel-default container">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        好友信息列表
    </div>
    <div class="panel-body">
        <p>hxx的好朋友大集合</p>
    </div>

    <!-- Table -->
    <div style="background-color: azure;">
        <table class="table table-hover table-bordered table-responsive">
            <thead>
            <tr>
                <th>ID</th>
                <th>name</th>
                <th>birthday</th>
                <th>hobby</th>
                <th>operate</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in data_list %}
                <tr>
                    <td>{{ obj.id }}</td>
                    <td>{{ obj.name }}</td>
                    <td>{{ obj.birthday }}</td>
                    <td>{{ obj.hobby }}</td>
                    <td>
                        <a class="btn btn-primary btn-xs" href="/friends/edit?nid={{ obj.id }}">编辑</a>
                        <a class="btn btn-danger btn-xs" href="/friends/delete?nid={{ obj.id }}">删除</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
