{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1>hxx的好朋友们</h1>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <button type="button" class="btn btn-info">
        <a href="/friends/add">添加好友</a>
    </button>
</div>
<br>
<div class="container" style="background-color: azure;">
<table class="table table-hover table-responsive">
    <caption>好友信息列表</caption>
    <thead>
        <tr>
            <th>ID</th>
            <th>name</th>
            <th>birthday</th>
            <th>hobby</th>
            <th>operate</th>
        </tr>
    </thead>
    <tbody>
    {% for obj in data_list %}
        <tr>
            <td>{{ obj.id }}</td>
            <td>{{ obj.name }}</td>
            <td>{{ obj.birthday }}</td>
            <td>{{ obj.hobby }}</td>
            <td>
                <a href="/friends/delete?nid={{ obj.id }}">删除</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</body>
</html>